@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    background: rgb(255,36,255);
    color: white;
    overflow: hidden;
    margin: 0;
}
h1{
    color: black;
    font-family: "Bebas Neue", sans-serif;

    position: absolute;
    top: 50%; transform: translateY(-50%);
    padding: 0; margin: 0;

    font-size: 25vh;
    opacity: 0.5;
    line-height: 90%;
}
main{
    width: 100vw; height: 100vh;
}
footer{
    display: flex;
    align-items: center;
    
    gap: 5px;

    font-family: "Roboto", sans-serif;
    font-size: 1.2em;

    height: 4vh;

    border-radius: 5px;
    box-shadow: 0 0 5px white inset;
    border: 0.1vh solid white;
    
    padding: 10px;
    margin: 1vh;

    position: absolute;
    bottom: 0; left: 0; right: 0;

    background-color: rgba(36,36,36,0.7);
    backdrop-filter: blur(5px);
}
footer img{
    filter: drop-shadow(0 0 1px white);
    width: 3vh;
    padding: 0.5vh;
}
#menu{
    transition: 1s;

    display: flex;
    
    gap: 5px;

    font-family: "Roboto", sans-serif;
    font-size: 1.2em;

    height: 4vh;
    max-height: 55vh;

    padding: 1vh;

    border-radius: 5px;
    box-shadow: 0 0 5px white inset;
    border: 0.1vh solid white;
    
    margin: 1vh;

    position: absolute;
    left: 0; right: 0;

    background-color: rgba(36,36,36,0.7);
    backdrop-filter: blur(5px);

    z-index: 10;
}
#linkContainer{
    width: 100%;
    max-height: 4vh;
    height: auto;

    display: flex;
    flex-wrap: wrap;

    overflow: hidden;
}
#linkContainer div{

    transition: 0.5s;

    height: 3vh;
    padding-top: 1vh;

    padding-left: 3vh;

    cursor: pointer;

    text-decoration: none;
    width: 100%;

    border-radius: 50px;
}
#linkContainer div:hover{

    transition: 0.05s;
    background-color: rgba(100,100,100,0.4);
}
#linkContainer a{
    color: white;
    text-decoration: none;
    padding-left: 3vh;
    width: 40%;
}
#menuBtt{
    max-height: 4vh;

    filter: drop-shadow(0 0 1px white);
    width: 3vh;
    padding-left: 1vh; padding-right: 1vh;
    cursor: pointer;
    transition: 0.25s;
}
#st-img{
    position: absolute;
    top: 100%; left: 100%;
    transform: translate(-100%, -100%);
}
.linkBox{
    text-decoration: none;
    color: white;

    cursor: pointer;
}
.linkBox:hover{
    text-decoration: underline;
}
.linkBox div{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (orientation: portrait){
    #st-img{
        height: 50vh;
    }
    h1{
        font-size: 25vw;
    }
}
@media (max-width: 640px){
    #linkContainer{
        flex-wrap: nowrap;
        display:grid;
        padding-top: 0.5vh;
        max-height: 5vh;
    }
    #linkContainer div{
        width: 100%;
        top: 0;
    }
    #linkContainer a{
        width: 80%;
    }
    #st-img{
        height: 40vh;
    }
    #menu{
        height: 5vh;
        gap: 0;
        padding: 0;
    }
    #menuBtt{
        max-height: 5vh;
    }
    footer{
        gap: 0;
        font-size: .8em;
        padding: 0;
    }
    footer img{
        width: 5vw;
    }
}