@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body{
    font-family: "Bebas Neue", sans-serif;
    
    background-color: rgb(48,48,48);
}
#status{
    /* background-color: rgba(255,0,0,0.2); */

    width: 100vw; height: 10vh;
    position: absolute;
    top: 0; left: 0;
    padding-top: 1%;
    display: flex;
}
#vs{
    width: 10%;
}
#vs div{
    position: relative;
}
#vs div{
    z-index: 999;
    position: absolute;
    top: 50%; left: 50%;

    color: white;

    font-size: 8em;
    transform: translate(-50%, -50%) rotate(15deg);
}
#player1, #player2{
    width: 100%; height: 100%;

    display: flex;
}
#hp1, #hp2{
    font-family: 'Courier New', Courier, monospace;

    margin: 2.5%;
    color: black;
    text-align: center;

    background-color: red;
    width: 90%; height: 16%;
    border-radius: 10px;
}
#name1, #name2{
    text-align: center;
    font-size: 3em;
}
#charId1, #charId2{
    color: white;
    width: 100%;
}
#player1 img, #player2 img{
    width: 10vh; height: 10vh;
    border-radius: 100%;
    border: .16vh solid white;
}
#name1{
    width: 100%;
}
@media (orientation: portrait){
    
    #player1 img, #player2 img{
        width: 10vw; height: 10vw;
    }
    #hp1, #hp2{
        margin: 5%;
    }
}