canvas{
    position: absolute;
    top: 0; left: 0;

    background-color: rgb(100,100,100);

    cursor: none;
}
#checkboxBox{
    position: absolute;
    
    top: 100%;
    transform: translateY(-100%);
    
    z-index: 100;
}
label{
    text-shadow: 0 0 2px black;
    color: white;
}
#inventoryContainer{
    position: absolute;
    top: 2.5vw; left: 2.5vw;

    margin: 0; padding: 0;
    width: 95vw;

    display: flex;

    font-size: 0.63em;
    /* background-color: rgba(255,0,0,0.2);s */
}
#healthBar{

    margin-top: 1vh;
    margin-left: auto;

    max-width: 50vh;
    height: 2vh; width: 50%;
    border: 0.1vh solid black;
}
#totalHealth{
    height: 100%; width: 0;
    background-color: rgb(180,0,0);

    transition: 0.5s;
}
#inventoryContainer img{
    height: 90%;
    margin-top: 8%;
    margin-left: 7%;
}
#wepones{
    display: flex;
}
#wepones div{
    margin-right: 1vw;
    width: 4vh; height: 4vh;
    
    box-shadow: 0.1vh 0.1vh 0.1vh rgb(16,16,16) inset, 0.1vh 0.1vh 0.1vh rgb(16,16,16);
    border: 0.2vh solid rgb(16,16,16);
    background-color: rgba(100,100,100,0.6);
}

#abilities{
    display: flex;
}
#abilities div{

    margin-right: 1vw;
    width: 4vh; height: 4vh;
    
    box-shadow: 0.1vh 0.1vh 0.1vh rgb(70,20,70) inset, 0.1vh 0.1vh 0.1vh rgb(70,20,70);
    border: 0.2vh solid rgb(70,20,70);
    background-color: rgba(100,100,100,0.6);
}
