body{
    background: rgb(36,36,36);
}

#st-img{
    position: absolute;
    top: 100%; left: 100%;
    transform: translate(-100%, -100%);

    width: 50vh;
}
@media (orientation: portrait){
    #st-img{
        width: 50vw;
    }
}
